@{
var db = Database.Open("SmallBakery");
var selectQueryString = "SELECT * FROM Contacts ORDER BY ID";
var data = db.Query(selectQueryString);
var grid = new WebGrid(source: data,
defaultSort: "Name",

}
<!DOCTYPE html>
<html>
<head>
<title>Displaying Data Using the WebGrid Helper (with Paging)</title>
<style type="text/css">
.grid { margin: 4px; border-collapse: collapse; width: 600px; }
.head { background-color: #E8E8E8; font-weight: bold; color: #FFF; }
.grid th, .grid td { border: 1px solid #C0C0C0; padding: 5px; }
.alt { background-color: #E8E8E8; color: #000; }
.product { width: 200px; font-weight:bold;}
</style>
</head>
<body>
<h1>Small Bakery Products</h1>
<div id="grid">
@grid.GetHtml(
tableStyle: "grid",
headerStyle: "head",
alternatingRowStyle: "alt",
columns: grid.Columns(
grid.Column("Name", "Name", style: "product"),
grid.Column("Tel", format:@<i>@item.Tel</i>),
grid.Column("Salary", format:@<text>$@item.Salary</text>)
)
)
</div>
</body>
</html>