@{
    
}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title></title>
    </head>
    <body>
  
<p><img src="ChartArrayBasic.cshtml" /> </p>  
        <p><img src="DBChart.cshtml" /> </p>  
        <p><img src="DBPieChart.cshtml" /> </p>  

  
    </body>
</html>
